<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>
<%= link_to 'Edit', edit_book_comment_path(@comment) %> |
<%= link_to 'Back', book_path(@comment.commentable_id) %>
