<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>
<% if @comment.commentable_type == "Book" %>
  <%= link_to 'Back', book_path(@comment.commentable_id) %>
<% else %>
  <%= link_to 'Back', report_path(@comment.commentable_id) %>
<% end %>
