<p id="notice"><%= notice %></p>

<p>
<strong><%= Comment.human_attribute_name('content') %>:</strong>
  <%= @comment.content %>
</p>

<p>
<%= link_to t('views.common.back'), @commentable_path %>
</p>
