<h1>Users#show</h1>

<p>
  <strong>id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<%= link_to "ユーザー一覧へ戻る", users_path %>
<% if @user.id == current_user.id %>
  <%= link_to "編集", edit_user_registration_path(id: current_user.id) %>
<% end %>
